- flash.each do |key, value|
  %div{ class: "#{flash_class(key)} alert-dismissible" }
    %button.close{ 'aria-hidden': true, 'data-dismiss': 'alert', type: 'button' } ×
    = value
    %button.close{ type: 'button', 'data-dismiss': 'alert', 'aria-label': 'Close' }