%nav.main-header.navbar.navbar-expand.navbar-white.navbar-light
  %ul.navbar-nav
    %li.nav-item
      %a.nav-link{"data-widget" => "pushmenu", :href => "#", :role => "button"}
        %i.fas.fa-bars
    %li.nav-item.d-none.d-sm-inline-block
      %a.nav-link{:href => "#"}= @page_title
  %ul.navbar-nav.ml-auto
    %li.nav-item
      = render SignoutButtonComponent.new(path: destroy_user_session_path)
