@import './variables';

body {
  font-family: 'Roboto Condensed' , sans-serif;
  height: 100vh;
}

a {
  text-decoration: none !important;
  color: inherit
} 

#wrapper {
  display: flex;
  #content-wrapper {
    background-color: $gray-100;
    width: 100%;
    overflow-x: hidden;
    #content {
      flex: 1 0 auto;
    }
  }
}